body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size: 16px;
    margin: 0px;
    }

.header, .main, .information, .footer, .quote {
    padding: 50px 200px;
}

/* header section */

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.menu {
    display: flex;
    font-size: 18px;
    gap: 28px;
}

ul {
    list-style-type: none;
}


/* main section */

.main {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    align-items: flex-start;
    gap: 8px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 8px;
}

img {
    max-width: 500px;
    height: auto;
}

/* information section */

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
}

.information .bottom {
    display: flex;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

/* quote section */
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 120px 350px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 800;
}

/* sign up section */
.sign-up {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    padding: 50px 100px;
    margin: 100px 200px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    gap: 200px;
}

.sign-up-left .title {
    font-size: 24px;
}

.sign-up-right {
    border: 3px solid white;
    padding: 0px 30px;
}

/* footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: cetner;
}

.copyright {
    color: #E5E7EB;
    font-size: 18px;
}